@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
:root {
  --poppins: "Poppins", sans-serif;
  --quicksand: "Quicksand", sans-serif;
  --roboto: "Roboto", sans-serif;
  --hind-siliguri: "Hind Siliguri", sans-serif;

  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  --fw-800: 800;
}
body {
  min-height: 100vh;
  overflow-x: hidden;
  transition: background 0.3s;
}
body.scroll-blocked {
  overflow: hidden;
}
button,
input {
  background: transparent;
  outline: none;
  border: none;
}
ul {
  padding: 0;
  margin: 0;
}
/* =================================
    Header & Navigation
=================================== */
.lr-header {
  position: absolute;
  width: 100%;
  padding: 0.6rem 2rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  transition: all 0.4s;
  z-index: 90;
}
.header_logo {
  font-size: 1.2rem;
  font-weight: var(--fw-600);
  font-family: var(--poppins);
  text-decoration: none;
  margin-right: auto;
}
.__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 10px;
}
.nav__menu {
  display: flex;
  align-items: center;
}
.nav_link {
  display: inline-block;
  padding: 7px 12px;
  font-weight: var(--fw-400);
  font-family: var(--poppins);
  text-decoration: none;
  border-radius: 5px;
}
@media screen and (max-width: 768px) {
  .__nav {
    position: fixed;
    justify-content: flex-end;
    flex-direction: column-reverse;
    top: 0;
    right: -100%;
    width: 280px;
    height: 100vh;
    margin-right: 0;
    border-right: none;
    z-index: 100;
    transition: all 0.6s;
  }
  .__nav.slide {
    right: 0;
  }
  .nav_header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    border-bottom: 1px solid #e1e5e7;
    margin-bottom: 10px;
  }
  .exit {
    display: block !important;
  }
  .nav__menu {
    width: 100%;
    max-height: 550px;
    height: 100%;
    overflow-y: auto;
    flex-direction: column;
    align-items: flex-start;
  }
  .nav_link {
    background: transparent !important;
    display: block;
    width: 100%;
  }
}
.toggle_mode {
  position: relative;
  display: block;
  text-align: center;
  width: 40px;
  height: 40px;
  margin: 0 10px;
  border-radius: 50%;
}
.exit {
  position: relative;
  display: none;
  text-align: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.toggle_mode #icon__xs {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
  opacity: 0;
}
mode-icon {
  position: relative;
  font-size: 1.2rem;
  text-align: center;
  /* z-index: 2; */
}
mode-icon.to-dark-mode::before {
  content: "\f186";
  font-family: "Font Awesome 5 Pro";
  font-weight: 400;
}
.toggle_mode:hover mode-icon.to-dark-mode::before,
mode-icon.to-dark-mode:hover::before {
  content: "\f186";
  font-family: "Font Awesome 5 Pro";
  font-weight: 900;
}
mode-icon.to-light-mode::before {
  content: "\f185";
  font-family: "Font Awesome 5 Pro";
  font-weight: 400;
}
.toggle_mode:hover mode-icon.to-light-mode::before,
mode-icon.to-light-mode:hover::before {
  content: "\f185";
  font-family: "Font Awesome 5 Pro";
  font-weight: 900;
}
.toggle_menu {
  position: relative;
  display: none;
  text-align: center;
  width: 40px;
  height: 40px;
  line-height: 50px;
  border-radius: 50%;
}
.toggle_menu ion-icon[name="menu-outline"] {
  font-size: 1.7rem;
}
@media screen and (max-width: 768px) {
  .toggle_menu {
    display: block;
  }
}
.btn-search-input {
  position: relative;
  max-width: 210px;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.4s;
}
.btn-search-input .icon-search {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  display: grid;
  place-content: center;
  z-index: 2;
  border-radius: 5px;
}
.icon-search .fa-search {
  font-size: 1.2rem;
}
.btn-search-input > input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  padding: 0 10px;
  cursor: pointer;
}
.btn-search-input > input::placeholder {
  font-weight: var(--fw-600);
  font-family: var(--quicksand);
}
@media screen and (max-width: 768px) {
  .btn-search-input {
    max-width: 40px;
    border-radius: 50%;
  }
  .btn-search-input > input {
    display: none;
  }
}
/* =================================
    Main
=================================== */
#main {
  width: 100%;
  height: 100vh;
  background: #fff;
  /* padding-top: 4rem; */
}
section {
  position: relative;
  width: 100%;
  padding: 2rem 5rem;
}
.section {
  min-height: 100vh;
}
.home_section {
  overflow: hidden;
}
/* =================================
    Overlay
=================================== */
.backdrop {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 40;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s;
}
body[data-theme="light"] .backdrop {
  background: rgba(109, 106, 102, 0.267);
}
body[data-theme="dark"] .backdrop {
  background: rgba(151, 189, 211, 0.267);
}
.backdrop.fade-show {
  opacity: 1;
  visibility: visible;
}
