@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@500;600;700&display=swap");
:root {
  --poppins: "Poppins", sans-serif;
  --quicksand: "Quicksand", sans-serif;
  --roboto: "Roboto", sans-serif;
  --hind: "Hind Siliguri", sans-serif;

  --fw-300: 300;
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  --fw-800: 800;
}
body {
  min-height: 100vh;
  overflow-x: hidden;
  transition: background 0.3s;
}
body.scroll-blocked {
  overflow: hidden;
}
button,
input {
  background: transparent;
  outline: none;
  border: none;
}
ul {
  padding: 0;
  margin: 0;
}
/* =================================
    Header & Navigation
=================================== */
.lr-header {
  position: fixed;
  width: 100%;
  padding: 0.6rem 2rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  transition: all 0.4s;
  z-index: 90;
}
.header_logo {
  font-size: 1.2rem;
  font-weight: var(--fw-600);
  font-family: var(--poppins);
  text-decoration: none;
  margin-right: auto;
}
.__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 10px;
  transition: all 0.3s;
}
.nav__menu {
  display: flex;
  align-items: center;
}
.nav_link {
  display: inline-block;
  padding: 7px 12px;
  font-weight: var(--fw-400);
  font-family: var(--poppins);
  text-decoration: none;
  border-radius: 5px;
}
@media screen and (max-width: 768px) {
  .__nav {
    position: fixed;
    justify-content: flex-end;
    flex-direction: column-reverse;
    top: 0;
    right: -100%;
    width: 280px;
    height: 100vh;
    margin-right: 0;
    border-right: none;
    z-index: 100;
    transition: all 0.6s;
    background: #ffffff;
  }
  .__nav.slide {
    right: 0;
  }
  .nav_header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    border-bottom: 1px solid #e1e5e7;
    margin-bottom: 10px;
  }
  .exit {
    display: block !important;
  }
  .nav__menu {
    width: 100%;
    max-height: 550px;
    height: 100%;
    overflow-y: auto;
    flex-direction: column;
    align-items: flex-start;
  }
  .nav_link {
    background: transparent !important;
    display: block;
    width: 100%;
  }
}
.toggle_mode {
  position: relative;
  display: block;
  text-align: center;
  width: 40px;
  height: 40px;
  margin: 0 10px;
  border-radius: 50%;
}
.exit {
  position: relative;
  display: none;
  text-align: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.toggle_mode #icon__xs {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
  opacity: 0;
}
mode-icon {
  position: relative;
  font-size: 1.2rem;
  text-align: center;
  /* z-index: 2; */
}
mode-icon.to-dark-mode::before {
  content: "\f186";
  font-family: "Font Awesome 5 Pro";
  font-weight: 400;
}
.toggle_mode:hover mode-icon.to-dark-mode::before,
mode-icon.to-dark-mode:hover::before {
  content: "\f186";
  font-family: "Font Awesome 5 Pro";
  font-weight: 900;
}
mode-icon.to-light-mode::before {
  content: "\f185";
  font-family: "Font Awesome 5 Pro";
  font-weight: 400;
}
.toggle_mode:hover mode-icon.to-light-mode::before,
mode-icon.to-light-mode:hover::before {
  content: "\f185";
  font-family: "Font Awesome 5 Pro";
  font-weight: 900;
}
.toggle_menu {
  position: relative;
  display: none;
  text-align: center;
  width: 40px;
  height: 40px;
  line-height: 50px;
  border-radius: 50%;
}
.toggle_menu ion-icon[name="menu-outline"] {
  font-size: 1.7rem;
}
@media screen and (max-width: 768px) {
  .toggle_menu {
    display: block;
  }
}
.btn-search-input {
  position: relative;
  max-width: 210px;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.4s;
}
.btn-search-input .icon-search {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  display: grid;
  place-content: center;
  z-index: 2;
  border-radius: 5px;
}
.icon-search .fa-search {
  font-size: 1.2rem;
}
.btn-search-input > input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  padding: 0 10px;
  cursor: pointer;
}
.btn-search-input > input::placeholder {
  font-weight: var(--fw-600);
  font-family: var(--quicksand);
}
@media screen and (max-width: 768px) {
  .btn-search-input {
    max-width: 40px;
    border-radius: 50%;
  }
  .btn-search-input > input {
    display: none;
  }
}
/* =================================
    Main
=================================== */

.home_section {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-image: url(../img/dots.png);
  background-size: contain;
}
.data_home {
  text-align: center;
}
.th_line {
  font-size: 4rem;
  font-weight: var(--fw-500);
  font-family: var(--poppins);
}
.tp_line {
  font-size: 1rem;
  font-weight: var(--fw-400);
  font-family: var(--quicksand);
}
@media screen and (max-width: 768px) {
  .th_line {
    font-size: 3rem;
  }
  .tp_line {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 540px) {
  .th_line {
    font-size: 2rem;
  }
  .tp_line {
    font-size: 0.8rem;
  }
}
.squares {
  animation: squares 1s infinite;
  background: #f5a254;
  background: linear-gradient(0deg, #f5af54, #e1904e);
  position: absolute;
  transition: 0.5s ease-out;
  overflow: hidden;
  border-radius: 20%;
  z-index: -1;
}
.square-1 {
  animation: squares 4s infinite;
  height: 300px;
  width: 300px;
  opacity: 0.5;
  left: 3%;
  top: -21%;
}
.square-2 {
  animation: squares 6s infinite;
  height: 400px;
  width: 400px;
  opacity: 0.4;
  right: -5%;
  top: -12%;
}
.square-3 {
  animation: squares 5s infinite;
  height: 200px;
  width: 200px;
  opacity: 0.1;
  left: -5%;
  bottom: 0;
}
.square-4 {
  animation: squares 10s infinite;
  height: 100px;
  width: 100px;
  opacity: 0.9;
  right: 27%;
  top: 70%;
}
.square-5 {
  animation: squares 6s infinite;
  height: 250px;
  width: 250px;
  opacity: 0.1;
  left: 32%;
  bottom: 29%;
}
.square-6 {
  animation: squares 9s infinite;
  left: 10%;
  top: 35%;
  height: 80px;
  width: 80px;
  opacity: 0.8;
}
.square-7 {
  animation: squares 3s infinite;
  width: 300px;
  height: 300px;
  right: -5%;
  bottom: 0;
  opacity: 0.1;
}
@media screen and (max-width: 700px) {
  .square-2,
  .square-5 {
    display: none;
  }
  .square-3 {
    opacity: 0.3;
  }
}
@media screen and (max-width: 540px) {
  .square-7 {
    animation: squares 3s infinite;
    width: 280px;
    height: 280px;
    bottom: 23%;
    opacity: 0.2;
  }
}
@keyframes squares {
  0% {
    transform: translateX(-10px);
  }
  50% {
    transform: translateX(10px);
  }
  to {
    transform: translateX(-10px);
  }
}
/* =================================
    Overlay
=================================== */
.backdrop {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 40;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s;
}
body[data-theme="light"] .backdrop {
  background: rgba(109, 106, 102, 0.267);
}
body[data-theme="dark"] .backdrop {
  background: rgba(151, 189, 211, 0.267);
}
.backdrop.fade-show {
  opacity: 1;
  visibility: visible;
}
