@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
:root {
  --poppins: "Poppins", sans-serif;
  --quicksand: "Quicksand", sans-serif;
  --roboto: "Roboto", sans-serif;
  --hind: "Hind Siliguri", sans-serif;
  --sans: "Open Sans", sans-serif;

  --fw-300: 300;
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  --fw-800: 800;
}
/* =================================
    Body Background Color
=================================== */
body[data-theme="light"] {
  background: #ffffff;
}
body[data-theme="light"] h1,
body[data-theme="light"] h2,
body[data-theme="light"] h3,
body[data-theme="light"] h4,
body[data-theme="light"] h5,
body[data-theme="light"] h6,
body[data-theme="light"] p {
  color: #1a1c1d;
}
body[data-theme="dark"] {
  background: #212224;
}
body[data-theme="dark"] h1,
body[data-theme="dark"] h2,
body[data-theme="dark"] h3,
body[data-theme="dark"] h4,
body[data-theme="dark"] h5,
body[data-theme="dark"] h6,
body[data-theme="dark"] p {
  color: #edf2f5;
}
/* =================================
    Light Theme BG&Color
=================================== */
body[data-theme="light"] .lr-header.sticky {
  background: #ffffff;
  border-bottom: 1px solid #e9edf0;
}
body[data-theme="light"] .header_logo {
  color: #1a1c1d;
}
body[data-theme="light"] .lr-header.sticky .__nav {
  /* background: #ffffff; */
  border-right: 1px solid #b9bdc0;
}
body[data-theme="light"] .nav_link {
  color: #1a1c1d;
}
body[data-theme="light"] .lr-header.sticky .nav_link:hover,
body[data-theme="light"] .lr-header.sticky .nav_link.active {
  color: #b47624;
  background: #fff4eb;
}
body[data-theme="light"] .toggle_mode {
  background: #fff4e6;
}
body[data-theme="light"] .toggle_mode:hover {
  background: #fff3e6;
}
body[data-theme="light"] .to-dark-mode::before {
  color: #c77913;
}
body[data-theme="light"] .btn-search-input {
  background: #fff5ee;
}
body[data-theme="light"] .btn-search-input:hover,
body[data-theme="light"] .btn-search-input:active {
  background: #ffe9da;
}
body[data-theme="light"] .btn-search-input .icon-search,
body[data-theme="light"] .btn-search-input input::placeholder {
  color: #ff9e62;
}
body[data-theme="light"] .btn-search-input:hover .icon-search,
body[data-theme="light"] .btn-search-input:hover input::placeholder {
  color: #ff6200;
}
@media screen and (max-width: 768px) {
  body[data-theme="light"] .__nav {
    border-right: none;
    border-left: 1px solid #e1e5e7;
  }
}
body[data-theme="dark"] .toggle_mode.is-changed {
  background: #e6f6ff;
}
body[data-theme="dark"] .toggle_mode.is-changed:hover {
  background: #e6f6ff;
}
body[data-theme="dark"] .to-light-mode::before {
  color: #085c8d;
}
body[data-theme="dark"] .lr-header.sticky {
  background: #1c1f20;
  border-bottom: 1px solid #1a1c1d;
}
/* =================================
    Display Font
=================================== */
.fw-300 {
  font-weight: var(--fw-300);
}
.fw-400 {
  font-weight: var(--fw-400);
}
.fw-500 {
  font-weight: var(--fw-500);
}
.fw-600 {
  font-weight: var(--fw-600);
}
.fw-700 {
  font-weight: var(--fw-700);
}
.fw-800 {
  font-weight: var(--fw-800);
}
.f-poppins {
  font-family: var(--poppins);
}
.f-quicksand {
  font-family: var(--quicksand);
}
.f-sans {
  font-family: var(--sans);
}
.f-hind {
  font-family: var(--hind);
}
/* =================================
    Section
=================================== */
section {
  position: relative;
  width: 100%;
  padding: 2rem 5rem;
}
.section {
  min-height: 100vh;
}
@media screen and (max-width: 768px) {
  section {
    padding: 2rem 3rem;
  }
}
@media screen and (max-width: 540px) {
  section {
    padding: 2rem;
  }
}
/* =================================
    Button
=================================== */
.btn {
  border: none;
  padding: 0.4rem 1rem;
}
.btn:active {
  border: none;
  box-shadow: none;
}
/* =================================
    Body Background Color
=================================== */
/* =================================
    Body Background Color
=================================== */
